@model IEnumerable<ProjectResearcherMachingApprovalWebApp.Models.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th>
            Action
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Approved)*@

                @(item.Approved ? "Yes" : "No")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @(item.IsPublished ? "Yes" : "No")
            </td>
            <td>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "-- Select --",
                        Value = "",
                        Selected = true
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Approved",
                        Value = "Approved"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Deny",
                        Value = "Deny",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Request for Info",
                        Value = "NeedMoreInfo"
                    });
                }

                @Html.DropDownListFor(modelItem => item.Status, listItems, new { Class = "ddlStyle", onchange = "SelectedIndexChanged()" })
            </td>

            <td>
                <input type="button" value="Send Notification" onclick="location.href='@Url.Action("Index","Notify")'" />
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    function SelectedIndexChanged() {
        //Form post
        document.demoForm.submit();
    }
</script>
